body{
    background-image: linear-gradient(to right bottom, #d8d8d8, #aedeff, #00eeff, #00f6b0, #a8eb12);
    margin: 0px;
    padding: 0px;
}
h1{
    text-align: center;
    background-image: linear-gradient(to right bottom, #2817e7, #9418d3, #c339c3, #df5fb9, #ee86b8);
    border-radius: 5px;
    width: 1200px;
    margin-left: 62px;
}

.imgk{
    margin-left: 60px;
    height: 600px;
    width:  1200px;
    border: 2px solid black;
    border-radius: 4px;
    text-align: center;
    padding: 0px;
}


footer{
    text-align: center;
    background-color: rgb(47, 51, 47);
    color: antiquewhite;
}

h2{
    text-align: center;
    color: rgba(31, 16, 100, 0.945);
}