body{
    background-color: rgb(173, 221, 223);
}

div{
    text-align: center;
}

li{
    list-style: none;
    font-size: 20px;
    margin-bottom: 5px;
}

img{
    height: 500px;
    width:  800px;
    border: 2px solid black;
}

p{
    font-size: 16px;
}

h1{
    font-family: 'Alumni Sans Inline One',
    cursive;
}

#p1{
    font-size: 20px;
}